<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">


    <testsuites>

		<!-- Exercise1 Testsuite -->

        <testsuite name="Exercise1">
            <directory>tests/Exercise1</directory>
        </testsuite>

		<!-- Exercise2 Testsuite -->

 	<testsuite name="Exercise2">
            <directory>tests/Exercise2</directory>
        </testsuite>

    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
